{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">
  
  {% include "head.html" %}

  <body class="d-flex flex-column vh-100">
    {% include "topnav.html" %}
    
    <div class="container h-100 p-4">
      {% block before_content %}{% endblock %}
      {% if title %}
        <h1 class="h3 text-gray-800">{{ title }}</h1>
      {% endif %}
      {% bootstrap_messages %}
      {% block content %} CONTENT {% endblock %}
      {% block after_content %}{% endblock %}
    </div>
    
    {% include "footer.html" %}

    {% if not 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_javascript %}
    {% endif %}

    {% block extra_script %}{% endblock %}
  </body>
</html>