{% if item.type == "divi" %}
  <div class="nav-item-divider"></div>

{% elif item.type == "item" %}
  <a href="{{ item.link }}" class="dashboard-nav-item">
    <i class="fas fa-{{ item.icon }}"></i> {{ item.name }}
  </a>

{% elif item.type == "dropdown" %}
  <div class="dashboard-nav-dropdown">
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
      <i class="fas fa-{{ item.icon }}"></i> {{ item.name }}
    </a>
    <div class="dashboard-nav-dropdown-menu">
      {% for l in item.links %}
        <a href="{{ l.link }}" class="dashboard-nav-dropdown-item">{{ l.desc }}</a>
      {% endfor %}
    </div>
  </div>
  
{% endif %}
