<div class="offcanvas-header pb-1">
  {% if user.is_authenticated %}
    <h3 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h3>
  {% endif %}
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
{% if user.is_authenticated %}
  <p class="text-secondary my-0 mx-3 ps-1">
    {{ user.email }}
    <a class="d-flex justify-content-end text-secondary fst-italic" href="{% url 'signout' %}">Sair</a>
  </p>
{% endif %}
<div class="offcanvas-body pt-0">
  <hr>
  <ul class="navbar-nav justify-content-end flex-grow-1 px-3">
    {% if user.is_authenticated %}
      {% for item in sidenav %}
        {% include "sideitem.html" with item=item item_id=forloop.counter %}
      {% endfor %}
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}"><i class="fas fa-tachometer-alt"></i>Entrar</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>Cadastrar</a></li>
      <li class="nav-item"><a class="nav-link" href="/temps/"><i class="fas fa-network-wired"></i>iot</a></li>
    {% endif %}
  </ul>
</div>