{% load static %}


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <button id="off_button" class="btn btn-outline-secondary btn-sm mx-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#off_canvas" aria-controls="off_canvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="off_canvas">
        {% include "sidenav.html" %}
      </div>

      <a class="navbar-brand" href="/">
        <img class="mx-2 mb-1" height="32px" width="32px" src="{% static 'images/fatec.png' %}">
        Big Data para Negócios
      </a>
    </div>
  </div>
</nav>