<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br">

  {% include "head.html" %}

  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
        {% include "topnav.html" %}
      </div>
    </nav>
    
		<div class="container">
      <h1 class="h3 mt-4 mb-0 text-gray-800">{{ title }}</h1>
			<div class="text-center mt-5">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">BDN - Big Data para Negócios</h5>
            <p class="card-text">Técnicas e ferramentas para capturar, tratar, processar e analisar grandes volumes de dados, extraindo informação valiosa para a tomada de decisões nas organizações. Para tanto o curso tem ênfase em disciplinas de Matemática para computação, Estatística e Probabilidade, Bancos de Dados Relacionais e NO-SQL, linguagens de programação , arquitetura de Business Intelligence e Big Data, aprendizado de máquina, big data analytics, inteligência artificial, visualização de dados e disciplinas com ênfase na gestão de negócios : planejamento estratégico, inteligência competitiva, desempenho corporativo, governança corporativa, ética na gestão dos dados. O conteúdo do curso prepara os alunos para criar sistemas e aplicações inteligentes, utilizando linguagens de programação para diferentes plataformas, técnicas de mineração de dados, com o foco em soluções e competitividade para negócios.</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JavaScript if it is in body -->
    {% if not 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_javascript %}
    {% endif %}

    <script src={% static "js/scripts.js" %}></script>
  </body>
</html>