{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center">
  <div class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-lg border-0 rounded-lg">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Cadastrar Conta</h3>
      </div>
      <div class="card-body">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
          
          {% if form.non_field_errors %}
            <ul class="list-unstyled text-danger">
              {% for erro in form.non_field_errors %}
                <li>{{ erro }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% for field in form %}
            <div class="mb-3">
              <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% for erro in field.errors %}
                <small class="text-danger">{{ erro }}</small>
              {% endfor %}
              {% if field.help_text %}
                <div class="form-text">
                  <i>{{ field.help_text }}</i>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="mt-4 mb-0">
            <div class="d-grid">
              <button class="btn btn-primary btn-block" type="submit">Criar a Conta</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-center py-3">
        <div class="small"><a href="{% url 'signin' %}">Já possui uma conta? Vá para "Entrar"</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}