{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center">
	<div class="col-10 col-md-7 col-lg-5 col-xl-4">
		<div class="card shadow-lg border-0 rounded-lg">
			<div class="card-header">
				<h3 class="text-center font-weight-light my-4">Entrar</h3>
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}

          {% for field in form %}
            <div class="mb-3">
	            <div class="col-12">
								<label class="visually-hidden" for="{{ field.id_for_label }}">{{ field.label }}</label>
								{{ field }}
	            </div>
            </div>
          {% endfor %}
					
          {% if form.non_field_errors %}
            <ul class="list-unstyled text-danger">
              {% for erro in form.non_field_errors %}
                <li>{{ erro }}</li>
              {% endfor %}
            </ul>
          {% endif %}
					
					<div class="form-check mb-3">
						<input class="form-check-input" id="id_remember" type="checkbox" value="" name="remember" />
						<label class="form-check-label" for="id_remember">Lembrar da Senha</label>
					</div>
					<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
						<a class="small" href="#">Esqueceu a senha?</a>
						<button class="btn btn-primary btn-block" type="submit">Entrar</button>
					</div>
			    <input type="hidden" name="next" value="{{ next }}">
				</form>
			</div>
			<div class="card-footer text-center py-3">
				<div class="small"><a href="{% url 'signup' %}">Novo por aqui? Crie uma conta!</a></div>
			</div>
		</div>
	</div>
</div>
<script>
	const remember = qs('#id_remember');
	const username = qs('#id_username');
	const password = qs('#id_password');
	
	let remember_username = localStorage.getItem('remember_username');
	let remember_password = localStorage.getItem('remember_password');
	if (remember_username && remember_password) {
		username.value = remember_username;
		password.value = atob(remember_password);
		remember.checked = true;
	}

	on("form", "submit", function(e) {
		if (remember.checked) {
			localStorage.setItem('remember_username', username.value);
			localStorage.setItem('remember_password', btoa(password.value));
		} else {
			localStorage.removeItem('remember_username');
			localStorage.removeItem('remember_password');
		}
	});

</script>
{% endblock %}