<!DOCTYPE html>
<html lang="pt-br">

  {% include "head.html" %}

	<body class="bg-primary">
		<div id="layoutAuthentication">
			<div id="layoutAuthentication_content">
				<main>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-5">
								<div class="card shadow-lg border-0 rounded-lg mt-5">
									<div class="card-header"><h3 class="text-center font-weight-light my-4">Entrar</h3></div>
									<div class="card-body">
										<form method="post">
											{% csrf_token %}
											<div class="form-floating mb-3">
												<input class="form-control" id="inputUsername" type="text" placeholder="Nome de Usuário para acesso" name="username" />
												<label for="inputUsername">Usuário</label>
											</div>
											<div class="form-floating mb-3">
												<input class="form-control" id="inputPassword" type="password" placeholder="Escreva sua senha de acesso" name="password" />
												<label for="inputPassword">Senha</label>
											</div>
											<div class="form-check mb-3">
												<input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" name="remember" />
												<label class="form-check-label" for="inputRememberPassword">Lembrar da Senha</label>
											</div>
											<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
												<a class="small" href="#">Esqueceu a senha?</a>
												<input class="btn btn-primary btn-block" type="submit" value="Entrar" />
											</div>
										</form>
									</div>
									<div class="card-footer text-center py-3">
										<div class="small"><a href="{% url 'signup' %}">Novo por aqui? Crie uma conta!</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
			<div id="layoutAuthentication_footer">
        {% include "footer.html" %}
			</div>
		</div>
	</body>
</html>
