{% extends "base.html" %}

{% block content %}
  {% include "graphs/menu.html" %}

  <h1 class="h3 text-gray-800">Quantidade de Processos</h1>
  <div class="d-flex justify-content-center">
    {% for item in items %}
      <div class="card m-3" style="width: 18rem;">
        {% if item.type == "Total" %}
        <div class="card-header" style="background-color: #6f7ca8;">
          <h5 class="m-0"><i class="fas fa-thermometer-three-quarters"></i>
        {% else %}
        <div class="card-header" style="background-color: #c4917a;">
          <h5 class="m-0"><i class="fas fa-thermometer-quarter"></i>
        {% endif %}
          {{ item.type }}</h5>
        </div>

        <div class="card-body text-body-secondary">
          <p class="card-text fs-1 fw-bold text-end">{{ item.count|floatformat:"-3g" }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr class="mt-5 mb-0">
  <div class="d-flex justify-content-center">
    <img src='data:image/png;base64,{{graph}}'/>
  </div>
{% endblock %}