<div style="margin-top: -30px; margin-bottom: 16px;">
  <ul class="nav nav-underline nav-fill">
    <li class="nav-item">
      <a class="nav-link{% if request.path == '/graphs/graph_01' %} active{% endif %}" href="/graphs/graph_01">Gráfico 01</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path == '/graphs/graph_02' %} active{% endif %}" href="/graphs/graph_02">Gráfico 02</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path == '/graphs/graph_03' %} active{% endif %}" href="/graphs/graph_03">Gráfico 03</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if request.path == '/graphs/graph_04' %} active{% endif %}" href="/graphs/graph_04">Gráfico 04</a>
    </li>
  </ul>
</div>