{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <ul class="list-unstyled text-danger">
        {% for erro in form.non_field_errors %}
          <li>{{ erro }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for erro in field.errors %}
          <small class="text-danger">{{ erro }}</small>
        {% endfor %}
        {% if field.help_text %}
          <div class="form-text">
            <i>{{ field.help_text }}</i>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    
    <a class="btn btn-secondary" href="{% url 'example:list' %}">Cancelar</a>
  </form>
{% endblock %}