{% extends "base.html" %}

{% block content %}
  <div class="mt-5 mb-4">
    {% include "snippets/input_disabled.html" with label="Id" value=object.id %}
    {% include "snippets/input_disabled.html" with label="Nome" value=object.nome %}
    {% include "snippets/input_disabled.html" with label="E-mail" value=object.email %}
    {% include "snippets/input_disabled.html" with label="CPF" value=object.cpf %}
  </div>
  <a class="btn btn-secondary" href="{% url 'example:list' %}">Voltar</a>
{% endblock %}